html,body{

  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
.top-header{
  background-color: #efefef;
  color: black;
}
.top-header a,.top-header span{
  text-transform: uppercase !important;
  opacity: 0.7;
      color: black;
    opacity: 0.7;
    text-decoration: none;
    font-weight: 400;
    opacity: 0.7;
    font-size: 12px;
}

.top-header .nav-link{
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none !important;
}
.top-header .nav-item{
  border-bottom: none !important;
      margin: 0 auto;
      
}
.btn{
  text-transform: uppercase;
}

header{
   font-family: 'Raleway', sans-serif;
}
header .nav-item{}
header .nav-link{
  font-style: bold;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #161616 !important;
   transition: all 0.5s ease-in-out;
   padding: 10px !important;
}
header .nav-link:hover {
    background-color: #F78F2F;
    transition: all 0.5s ease-in-out;
    border-radius: 50px;
    color: #fff !important;
}

.btn-custom{
  margin: 0 !important;
  color: #fff;
    background-color: #ff9b1a;
    border-color: #ff9b1a;
}
.banner {
    min-height: 600px;
    background-image: url(../Paxlar-2.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    background-blend-mode: color;
    background-color: #1516188c;
    background-position: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.vh-600{
  height: 600px;

}


.banner h1{
      font-size: 2.5rem;
          font-weight: 700;
}
.banner p{font-size: 20px;
}
.banner span{}
.btn-outline-primary {
    color: #e6e6e6f7;
    border-color: #d4d4d4f7;
    border: 2px solid;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #ff9b1a;
    border-color: #ff9b1a;
}
.vh-order{
  position: relative;
    min-height: 310px;
    width: 100%;
    color: black;
    padding: 1.5rem 1.0rem;
    border: 1px dotted #6f6f6f69;
    transition: all 0.5s ease-in-out;

}
.vh-order::before {
    content: "";
    position: absolute;
    background-image: url(../Paxlar-3.png);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    background-blend-mode: soft-light;
   background-color: #FF9B1A;
   transition: all 0.5s ease-in-out;
   
}
.vh-order:hover::before{
  opacity: 1;

}
.vh-order:hover{
  color: #fff;
  cursor: pointer;

}

.vh-order span::before{
  font-size: 70px;
  margin-left: 0;
  color: #F78F2F;
}
.vh-order:hover span::before{
  font-size: 70px;
  margin-left: 0;
  color: #fff;
}
.vh-order h4{
  font-style: 17px;
}


.service-icons{
  position: relative;
}
.underline-2{
      width: 60px;
    height: 3px;
    display: block;
    background-color: #FF9B1A;
    margin: 0 auto;
}

.service-icons h1{
    text-transform: uppercase;
}
.service-icons h3{
    text-transform: uppercase;
    padding-top: 1rem;
}
.service-icons p{
  opacity: 0.8;
}
.service-icons .btn{
 
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    color: grey;

}
.service-icons .btn:hover{
 
    
    color: #fff;

}


.iphone-image{
  min-height: 600px;
  position: relative;
}
.iphone-image img{
  position: absolute;
  
    right: 0;
    bottom: 0;
}
.vh-wallet{
  color: #fff;
  margin-top: 6rem;
}
.wallet{
  width: 50px;
  height: 50px;
  display: block;
  border: 2px solid #FF9B1A;
  border-radius: 5px;
  transform: rotate(45deg);
      margin-top: 10px;
}
.underline{
  width: 40px;
  height: 2px;
  display: block;
  background-color: #FF9B1A;
}


.iphone{
     width: 100%;
     min-height: 600px;
     background-image: url(../bitcoin.png);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-blend-mode: color;
     background-color: #000000a1;
}
.vh-counter-bg{
  background-color: #FF9B1A;
}
.counter-box span{
   text-transform: uppercase;
    font-weight: 500;
}

.counter{
  font-size: -webkit-xxx-large;

}
.vh-wallet h6{

}
.vh-wallet p{
  
}
.wallet-content{
  width: 80%;
    padding-left: 2rem;
}
.vh-wallet .pl-4, .px-4 {
    padding-left: 3.5rem !important;
}


.diagram-section{
  min-height: 600px;

}
.diagram-section .vh-diagram{
  position: relative;
  min-height: 600px;
}
.octopus{
 
position: relative;
 
margin-top: 7rem;
 

 max-width: 60%;
/* height: 50%; */
 

}
.lock-01 p,.lock-phone p,.lock-wallet p,.lock-02 p,.lock-03 p,.lock-04 p{
  transform: rotate(-45deg);
  width: 186px;
  /* position: fixed; */
  /* top: 31px; */
  margin-top: 20px;
  /* top: 29px; */
  text-align: -webkit-match-parent;
}
.lock-01{
  position:absolute;
  width: 60px;
  height: 60px;
  border: 1px solid #f05154;
  transform: rotate(45deg);
  text-align: center;
  border-radius: 5px;
  left: 20%;
  top: 5%;
  color:#f05154; 
}
.lock-01 i{
      transform: rotate(-45deg);
    line-height: 60px;
    font-size: 25px;
    color: #f05154;
  
}
.lock-phone{
  position:absolute;
  width: 60px;
  height: 60px;
  border: 1px solid #63cd68;
  transform: rotate(45deg);
  text-align: center;
  border-radius: 5px;
  top: 38%;
  left: 10%;
  color:  #63cd68;
}
.lock-phone i{
  transform: rotate(-45deg);
    line-height: 60px;
    font-size: 25px;
    color: #63cd68;
  
}
.lock-wallet{
  position:absolute;
  width: 60px;
  height: 60px;
  border: 1px solid #77d2d6;
  transform: rotate(45deg);
  text-align: center;
  border-radius: 5px;
  top: 75%;
  left: 20%;
  color: #77d2d6;
}
.lock-wallet i{
  transform: rotate(-45deg);
    line-height: 60px;
    font-size: 25px;
    color: #77d2d6;
}
.lock-02{
  position:absolute;
  width: 60px;
  height: 60px;
  border: 1px solid #00aced;
  transform: rotate(45deg);
  text-align: center;
  border-radius: 5px;
  left: 70%;
  top: 5%;
  color:  #00aced;
}
.lock-02 i{
  transform: rotate(-45deg);
    line-height: 60px;
    font-size: 25px;
    color: #00aced   ;
}
.lock-03{
  position:absolute;
  width: 60px;
  height: 60px;
  border: 1px solid #63cd68;
  transform: rotate(45deg);
  text-align: center;
  border-radius: 5px;
  left: 80%;
  top: 38%;
  color: #63cd68;
}
.lock-03 i{
  transform: rotate(-45deg);
    line-height: 60px;
    font-size: 25px;
    color: #63cd68;
}
.lock-04{
  position:absolute;
  width: 60px;
  height: 60px;
  border: 1px solid #f05154;
  transform: rotate(45deg);
  text-align: center;
  border-radius: 5px;
  left: 70%;
  top: 75%;
  color:#f05154; 
}
.lock-04 i{
  transform: rotate(-45deg);
    line-height: 60px;
    font-size: 25px;
    color: #f05154;
}
@media(max-width:991px){
  .nav-link{
  display: inline-block;
  }
}
@media(max-width:991px){
  .nav-item{
    border-bottom: none !important;
    text-align: right;
  }
}


@media(max-width:767px){
  .banner h1{
      font-size: 2rem;
          font-weight: 700;
}
.banner p{font-size: 18px;
}
  .octopus{
 

 
    margin-top: 10rem;
 
max-width: 50%;
    
 
/* height: 50%; */
 

}
}
@media(max-width: 575px){

   .banner h1{
      font-size: 1.8rem;
          font-weight: 700;
}
.banner p{font-size: 16px;
}
   .octopus{
 

 
    margin-top: 13rem;
 
max-width: 30%;
    
 
/* height: 50%; */
 

}
  .lock-03 {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 1px solid #63cd68;
    transform: rotate(45deg);
    text-align: center;
    border-radius: 5px;
    left: 72%;
    top: 38%;
}
}

.profession{
   color: #FF9B1A;
   text-transform: uppercase;
   font-size: 20px;
}
.team-experts h1{
    text-transform: uppercase;
}
.team-experts h2{
    text-transform: uppercase;
    padding-top: 1rem;
}
.team-experts p{
  opacity: 0.8;
}
.consultation{
  background-image: url(../form.png);
  min-height: 522px;
  background-size: cover;
  background-position: center;
  
}
.consultation .container{

  min-height: 522px;

  position: relative;

}
.consultation .row
{
  position: absolute;
  width: 100%;
  top: 50%;
  
  transform: translateY(-50%);
  justify-content: space-between;
}

.consultation .row form{
  width: 100%;
}
.vh-textarea{
  width: 100% !important;
}

.consultation .form-control{
  background:transparent;
  color: #fff !important;
  border: 2px solid #fff !important;
    border-radius: 0.5rem !important;
    
}
.consultation ::placeholder{
  color: #fff !important;
}

.blog-section .card-body{
 text-align: left;
 position: relative;
}
.blog-section .card-body i {
    position: absolute;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #f26c4f;
    color: #fff;
    border-radius: 50%;
    top: -26px;
   
}
.blog-section .card-text{
   margin-top: 15px;
}

.blog-section .card-title {
    margin-bottom: 0.75rem;
    position: absolute;
    top: 2px;
    font-size: 12px;
    left: 25%;
    opacity: 0.8;
  }

footer{
  background-color: #101010;
  color: #fff;

}
footer img{
margin-bottom: 22px;
}
footer p{
 opacity: 0.7;
}
.address{
   opacity: 0.7;
}
footer a{
  color: #fff;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
footer a:hover{
  color: #fff;
  opacity: 1;
  text-decoration: none;
}
footer ul{
      padding-left: 0 !important;
}
footer li{
  list-style: none;
  opacity: 0.7;
}
footer .form-control-lg {
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    border-radius: 50px;

}
form{
  position: relative;
}
form i::before {
    position: absolute;
    color: #fa8e2b;
    top: 0;
    right: 0;
    font-size: -webkit-xxx-large;
}
.footer-2{
  background-color: #000000;
}
.footer-2 a,.footer-2 span{
  text-transform: uppercase !important;
  opacity: 0.7;
      color: #fff;
    opacity: 0.7;
    text-decoration: none;
}
.footer-2 span{
padding-bottom: 10px;
}
.footer-2 .nav-link{
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none !important;
}
.footer-2 .nav-item{
  border-bottom: none !important;
  margin-left: auto !important;
      padding-bottom: 10px;
}




